html, body {
    width: 100%;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: table;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'VirtualDJ';
    src: url('vdj/VirtualDJ.eot?#iefix') format('embedded-opentype'), url('vdj/VirtualDJ.woff') format('woff'), url('vdj/VirtualDJ.ttf') format('truetype'), url('vdj/VirtualDJ.svg#VirtualDJ') format('svg');
    font-weight: normal;
    font-style: normal;
}

.uiblock {

    /*    display: table-cell; */
    /* width: 200px; */
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    max-width: 120px;
    /* height: 200px; */
    float: left;
    text-align: center;
    color: #333;
    background: #ccc;

}

.uiblock:hover {
    background: #fff;
}

.hide {
    display: none !important;
}

small {
    font-size: 8pt;
}

#summary {
    font-size: 17px;
}

#replay {
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.4);
    cursor: pointer;
    color: #fff;
}

#replay:hover {
    background: #fff;
    color: #333;
}

#start {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#start .inside {
    display: inline-block;
    max-width: 500pt;
}

#disclaimer {
    position: absolute;
    text-align: center;
    width: 100%;
}

#newusername {
    padding: 5pt;
    font-size: 15pt;
}

.button {
    border: none;
    color: #333;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    padding: 12px;
    background: #dadada;
    margin-top: 5pt;
    display: inline-block;
}

#tactris {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.forcenter {
    display: inline-block;
    padding-top: 51px;
}

#gamecontent {
    position: relative;
}

#gamecontent.shakex {
    top: 1px;
}

#gamecontent.shakey {
    left: 1px;
}

#gamecontent.shakexup {
    top: -1px;
}

#gamecontent.shakeyup {
    left: -1px;
}

#gamecontent .userpanel {
    margin: 1px;
    width: 249px;
    height: 249px;
    background: #222222;
    text-align: left;
}

.userpic {
    width: 68px;
}

.userpic .tactris-block {
    width: 49px;
    height: 49px;
    position: relative;
    left: 12px;
}

.score {
    font-family: 'VirtualDJ' !important;
    font-size: 8px;
    line-height: 1.3;
    text-indent: 2pt;
}

.score span {
    font-size: 24px;
}

.score span.increment {
    opacity: 0;
}

#pole {
    overflow: hidden;
    float: left;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.topinfo {
    width: 100%;

}

.topinfo .stats {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.sidebar {
    position: relative;
}

.rigthsidebar {
    float: left;
}

.leftsidebar {
    float: left;
}

.sidebar span {
    color: #aaddff;
}

#level {
    float: left;
}

.tactris-block {
    margin: 1px;
    background-color: #0a0a0a;
    position: absolute;
    z-index: 0;
    -webkit-transition: 150ms ease-out;
    -moz-transition: 150ms ease-out;
    -ms-transition: 150ms ease-out;
    -o-transition: 150ms ease-out;
    transition: 150ms ease-out;
}

#pole {
    position: relative;
}

.loginbutton {
    display: table-cell;
    padding: 20px;
}

#pole .tactris-block {
    width: 49px;
    height: 49px;

}

.sidebar .next {
    position: relative;
}

.next0 {
    left: 15px;
}

.next1 {
    left: 140px;
}

.next .tactris-block {
    width: 25px;
    height: 25px;

}

.tactris-block.active {
    box-shadow: 0px 0px 25px 0px rgba(150, 200, 255, 0.7);
    background-color: #aaddff;
    z-index: 100;
}

.tactris-block.placed {
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.tactris-block.debug {
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
    background-color: #ff6666;
}

.infopanel {
    position: absolute;
    left: 0px;
    height: 500px;
    width: 500px;
    font-size: 24px;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.5);
}

#gameover {

}

#profile {
    color: #ffffff;
    text-align: left;
}

#profile .inside {
    padding: 20px;
    font-size: 14px;
}

#profile .userpic {
    float: left;
    width: 130px;
    height: 130px;
}

#profile .stats {
    display: inline-block;
    padding-left: 20px;
}

#profile .userpic .tactris-block {
    width: 100%;
    height: 100%;
    left: 0px;
}

#profile .username {
    font-size: 24px;
    padding-bottom: 10px;
}

#profile .self_options {
    padding-top:  30px;
}
#profile .self_options .check {
    font-size:  20px;
}

.infopanel .close {
    content: url(img/close.png);
    float: right;
    padding: 10px;
    cursor: pointer;
}

#leaderboard {
    font-size: 18px;
    overflow-y: scroll;
}

#leaderboard table {
    width: 100%;
    border-spacing: 0px;
}

#leaderboard table tr {
    height: 50px;
}

#leaderboard table .me {
    color: #000000;
    background-color: #aaddff !important;
}

#leaderboard table tr:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.2);
}

#leaderboard table tr:nth-child(2n) {
    /* background-color: rgba(255, 255, 255, 0.3); */
}

#leaderboard .hiscore, #leaderboard .place {
    font-family: 'VirtualDJ';
    font-size: 20px;
}

a {
    color: #aaddff;
}

.buttons {
    position: inherit;
    top: 0px;
    right: 0px;
}

.uibutton {
    background-color: #ccc;
    overflow: hidden;
    text-align: center;
    width: 49px;
    height: 49px;
    float: left;
    margin-left: 1px;
    cursor: pointer;
}

#menubar {
    position: absolute;
    top: -50px;
    height: 50px;
    width: 500px;
    text-align: left;
}

#menubar .logo {
    font-family: 'VirtualDJ' !important;
    padding: 17px;
    font-size: 24px;
}

.uibutton:hover, .uibutton.active {
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.70);
}

.uibutton.leaderboard {
    content: url(img/leaderboard2.png);
}

.uibutton.personal {
    content: url(img/personal.png);
}

.uibutton.shared {
    content: url(img/shared.png);
}

#prline {

    width: 100%;
    background: rgba(9, 11, 14, 0.16);
    height: 38px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
}

#prline span {
    padding-right: 3px;
}

#promo a {
    margin: 7px;
    color: #cccccc;
    font-size: 9px;
    float: left;
    text-decoration: none;
}

#prline .menuitem {
    color: #aaa;
    font-size: 14px;
    position: inherit;
    padding-left: 20px;

}

#prline .menu {
    padding: 9px;
    float: left;
    text-align: center;
}

#prline .menuitem:hover {
    color: #fff;
}

#socialism {
    text-align: right;
    padding: 8px;
}

#fucking_vk {
    position: fixed;
    right: 260px;
    bottom: 7px;
}

#menubar .stats {
    position: relative;
    bottom: 50px;
    left: 516px;
    font-size: 10px;
}

.username {
    cursor: pointer;
    text-decoration: underline;

}

.userpic {
    cursor: pointer;
}

#colorline {

    width: 100%;
    height: 20px;
    margin: 1px;

    background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -o-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}
