html, body {
    width: 100%;
    background-color: #333333;
    margin: 0;
    padding: 0;
    color: #e5e5e5;
    font-family: Arial, sans-serif;
}

#tactris {
    width: 100%;
}

#gamecontent {
    position: absolute;
}

#pole {
    overflow: hidden;
    float: left;
    cursor: pointer;
}

#sidebar {
    width: 250px;
    float: right;
}

#topinfo {
    width: 100%;

}

#topinfo .info-section {
    padding: 15px;
    text-align: center;
}

#sidebar span {
    color: #aaddff;
}

#level {
    float: left;
}

#forcenter {
    width: 640px;
    margin: 0px auto;
}

.tactris-block {
    position: absolute;
    margin: 1px;
    background-color: #0a0a0a;
    z-index: 0;
}


#pole {

}

#pole .tactris-block {
    width: 49px;
    height: 49px;

}
#sidebar .next {
    position: relative;
}
#next0 {
    left: 20px;
}
#next1 {
    left: 140px;
}
.next .tactris-block {
    width: 25px;
    height: 25px;

}

.tactris-block.active {
    box-shadow: 0px 0px 25px 0px rgba(150, 200, 255, 0.7);
    background-color: #aaddff;
    z-index: 100;
}

.tactris-block.placed {
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}